
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #cce3de; 
    color: #6b9080; 
}

h1, h2 {
    text-align: center;
    color: #6b9080; 
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
    color: #6b9080;
}

.input-section input[type="number"],
.input-section input[type="date"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #6b9080; 
}

.input-section button {
    padding: 8px 20px;
    background-color: #a4c3b2; 
    color: #6b9080; 
    border: none;
    font-style: italic;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.input-section button:hover {
    background-color: #cce3de; 
}

.expenses-list {
    margin: 20px auto;
    background-color: #f6fff8; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #6b9080; 
    padding: 10px;
    text-align: left;
}

th {
    background-color: #eaf4f4; 
    color: #6b9080; 
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f; 
}

#category-select {
    padding: 7px; 
    border-radius: 8px;
}
